<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>10</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:zilong.chen</permission>
      <permission>hudson.model.Item.Read:raymond.shen</permission>
      <permission>hudson.model.Item.Read:olifer.ouyang</permission>
      <permission>hudson.model.Item.Read:yu.xie</permission>
      <permission>hudson.model.Run.Update:zilong.chen</permission>
      <permission>hudson.model.Run.Update:raymond.shen</permission>
      <permission>hudson.model.Run.Update:yu.xie</permission>
      <permission>hudson.model.Item.Build:anonymous</permission>
      <permission>hudson.model.Item.Build:zilong.chen</permission>
      <permission>hudson.model.Item.Build:raymond.shen</permission>
      <permission>hudson.model.Item.Build:yu.xie</permission>
      <permission>hudson.model.Run.Delete:zilong.chen</permission>
      <permission>hudson.model.Run.Delete:raymond.shen</permission>
      <permission>hudson.model.Run.Delete:yu.xie</permission>
      <permission>hudson.model.Item.Delete:zilong.chen</permission>
      <permission>hudson.model.Item.Delete:raymond.shen</permission>
      <permission>hudson.model.Item.Delete:yu.xie</permission>
      <permission>hudson.model.Item.Configure:zilong.chen</permission>
      <permission>hudson.model.Item.Configure:raymond.shen</permission>
      <permission>hudson.model.Item.Configure:olifer.ouyang</permission>
      <permission>hudson.model.Item.Configure:yu.xie</permission>
      <permission>hudson.model.Item.Workspace:anonymous</permission>
      <permission>hudson.model.Item.Workspace:zilong.chen</permission>
      <permission>hudson.model.Item.Workspace:raymond.shen</permission>
      <permission>hudson.model.Item.Workspace:olifer.ouyang</permission>
      <permission>hudson.model.Item.Workspace:yu.xie</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty/>
  </properties>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://sami.cdt.int.thomsonreuters.com/svn/idncorebeijing_evai/trunk/VAH</remote>
        <local>.</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.TimerTrigger>
      <spec>0 14,20 * * 1-5</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>D:\Build\VAH\trunk</customWorkspace>
  <builders>
    <hudson.tasks.BatchFile>
      <command>pushd &quot;%WORKSPACE%\SourceCode\Excutable\Script&quot;&#xd;
dailybuild.bat 0.4.1&#xd;
popd</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>Package/**/*.zip,Package/**/*.Z</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <xunit>
      <types>
        <CppUnitJunitHudsonTestType>
          <pattern>Package/unit_tests/*.xml</pattern>
          <faildedIfNotNew>false</faildedIfNotNew>
          <deleteOutputFiles>true</deleteOutputFiles>
          <stopProcessingIfError>true</stopProcessingIfError>
        </CppUnitJunitHudsonTestType>
      </types>
    </xunit>
    <org.jenkinsci.plugins.cppcheck.CppcheckPublisher>
      <cppcheckConfig>
        <pattern>Package/cppcheck/*.xml</pattern>
        <useWorkspaceAsRootPath>false</useWorkspaceAsRootPath>
        <ignoreBlankFiles>false</ignoreBlankFiles>
        <configSeverityEvaluation>
          <threshold></threshold>
          <newThreshold></newThreshold>
          <failureThreshold></failureThreshold>
          <newFailureThreshold></newFailureThreshold>
          <healthy></healthy>
          <unHealthy></unHealthy>
          <severityError>true</severityError>
          <severityWarning>true</severityWarning>
          <severityStyle>true</severityStyle>
          <severityPerformance>true</severityPerformance>
          <severityInformation>true</severityInformation>
        </configSeverityEvaluation>
        <configGraph>
          <xSize>500</xSize>
          <ySize>200</ySize>
          <displayAllErrors>true</displayAllErrors>
          <displayErrorSeverity>true</displayErrorSeverity>
          <displayWarningSeverity>true</displayWarningSeverity>
          <displayStyleSeverity>true</displayStyleSeverity>
          <displayPerformanceSeverity>true</displayPerformanceSeverity>
          <displayInformationSeverity>true</displayInformationSeverity>
        </configGraph>
      </cppcheckConfig>
    </org.jenkinsci.plugins.cppcheck.CppcheckPublisher>
    <hudson.tasks.Mailer>
      <recipients>zilong.chen@thomsonreuters.com,yu.xie@thomsonreuters.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>